{
  email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
  encode zstd gzip
  reverse_proxy web:3000
}

www.{$APP_DOMAIN} {
  redir https://{$APP_DOMAIN}{uri} permanent
}

api.{$APP_DOMAIN} {
  encode zstd gzip
  reverse_proxy api:8000
}
